@charset "utf-8";
/* CSS Document */

body {
	padding: 10px 20px 0px 20px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}
table	{
	border-collapse: collapse;
}
#resultDiv td {
	font-family: "Courier New", Courier, monospace;
	border: solid thin silver;
	text-align: left;
}
td	{
	text-align: left;
}
h1	{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14.0pt;
	font-weight: normal;
	text-transform: uppercase;
	line-height:17.5pt;
	margin-bottom:4pt;
}
h2	{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14.0pt;
	font-weight: normal;
	line-height:17.5pt;
	margin-bottom:4pt;
}
h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12.0pt;
	font-weight:bold;
	font-style:italic;
	margin-bottom:3.25pt;
	line-height:16.25pt;
}
h4 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12.0pt;
	margin-bottom:2pt;
}
table	{
	width: 100%;
	border-style: none;
	border-width: 0;
	vertical-align: top;
}
fieldset {
	text-align: left;
	border-style: inset;
	margin: 5px;
	padding: 5px;
	width: auto;
	display: inline-block;
	vertical-align: top;
}
#theTitle	{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16.0pt;
	font-weight: bold;
	text-transform: uppercase;
	line-height:17.5pt;
	margin-bottom:4pt;
}
#loginDiv	{
	display: none;
}
#logoutDiv	{
	display: inline-block;
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	visibility: hidden;
}
#logoutFrame	{
	display: none;
}
#loadingDiv	{
	display: none;
	text-align: center;
	padding: 10%;
	font-style: italic;
}
#queryDiv	{
	background-color: #FFC;
	border: thin dashed #CC6;
	padding: 10px;
	text-align: center;
	display: none;
}
#queryHourSpec	{
	width: 50px;
}
#theQuery	{
	width: 95%;
	height: 7em;
	padding: 5px 5px 5px 10px;
}
.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}
#resultDiv	{
	font-family: Arial, Helvetica, sans-serif;
}
#resultTabsDiv	{
	display: none;
}
